<!DOCTYPE HTML>
<html>

<head>
  <title>Nothing</title>
</head>

<body>
  <h1>瞅啥呢啊，这啥也没有</h1>
  <img src="http://wanzao2.b0.upaiyun.com/system/pictures/5/original/52.png" alt="说了没有啊">
</body>

</html>
